Repository pigly-di/pigly: changes, and which Codecov flags are due for each by the changed paths.
All: pigly, transformer

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 0.10%
      pigly:
        flags: pigly
      transformer:
        flags: transformer
    patch: off
flags:
  pigly:
    paths:
      - packages/pigly/src
  transformer:
    paths:
      - packages/pigly-transformer/src

chore: upgrade typescript dependency
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: none

v0.11.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

dev: upgrade deps
  yarn.lock
Due: none

dev: bump versions
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: none

fix: transformer AST traversal
  package.json
  packages/pigly-example/package.json
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: transformer

doc: better readme example
  README.md
  packages/pigly-example/example.ts
Due: none

v1.0.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update config.yml
  .circleci/config.yml
Due: none

dev: update typescript version
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: none

refactor: improve cyclic error message
  packages/pigly/src/kernel.ts
  yarn.lock
Due: pigly

v1.0.1
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

v1.0.2
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

test: ensure kernel class can be derived
  packages/pigly-transformer/test/kernel.spec.ts
Due: none

feat: toFunc factory
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/to-func.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly

v1.1.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

fix: support typeof type binding
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/test/kernel.spec.ts
Due: transformer

v1.1.1
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
Due: none

fix: triage typeof binding
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
Due: transformer

v1.1.2
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
Due: none

chore: clean up
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: transformer

chore: fix examples for node18
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: none

fix: package typing path
  packages/pigly-transformer/package.json
  packages/pigly/package.json
  yarn.lock
Due: none

v1.1.3
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

fix: typescript 5 support
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: transformer

chore: refactor for esm
  package.json
  packages/pigly-transformer/.mocharc.json
  packages/pigly-transformer/package.json
  packages/pigly-transformer/tsconfig.json
  packages/pigly-vue-example/.gitignore
  packages/pigly-vue-example/README.md
  packages/pigly-vue-example/package.json
  packages/pigly-vue-example/public/favicon.ico
  packages/pigly-vue-example/public/index.html
  packages/pigly-vue-example/src/App.vue
  packages/pigly-vue-example/src/assets/logo.png
  packages/pigly-vue-example/src/components/HelloWorld.vue
  packages/pigly-vue-example/src/decorators/inject.ts
  packages/pigly-vue-example/src/main.ts
  packages/pigly-vue-example/src/service/_foo.ts
  packages/pigly-vue-example/src/service/foo.ts
  packages/pigly-vue-example/src/shims-tsx.d.ts
  packages/pigly-vue-example/src/shims-vue.d.ts
  packages/pigly-vue-example/transformers.js
  packages/pigly-vue-example/tsconfig.json
  packages/pigly-vue-example/vue.config.js
  packages/pigly-vue-example/yarn.lock
  packages/pigly/.mocharc.json
  packages/pigly/package.json
  packages/pigly/tsconfig.build.esm.json
  packages/pigly/tsconfig.build.json
  packages/pigly/tsconfig.json
  yarn.lock
Due: none

chore: remove vue example package
  packages/pigly-vue-example/.gitignore
  packages/pigly-vue-example/README.md
  packages/pigly-vue-example/package.json
  packages/pigly-vue-example/public/favicon.ico
  packages/pigly-vue-example/public/index.html
  packages/pigly-vue-example/src/App.vue
  packages/pigly-vue-example/src/assets/logo.png
  packages/pigly-vue-example/src/components/HelloWorld.vue
  packages/pigly-vue-example/src/decorators/inject.ts
  packages/pigly-vue-example/src/main.ts
  packages/pigly-vue-example/src/service/_foo.ts
  packages/pigly-vue-example/src/service/foo.ts
  packages/pigly-vue-example/src/shims-tsx.d.ts
  packages/pigly-vue-example/src/shims-vue.d.ts
  packages/pigly-vue-example/transformers.js
  packages/pigly-vue-example/tsconfig.json
  packages/pigly-vue-example/vue.config.js
  packages/pigly-vue-example/yarn.lock
  yarn.lock
Due: none

fix: use named export for esm compatibility issue
  packages/pigly-transformer/src/index.ts
Due: transformer

chore: remove lerna workspace option
  lerna.json
Due: none

v1.2.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

fix: export runtime and typing
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/src/transformer.ts
  packages/pigly-transformer/tsconfig.json
Due: transformer

v1.2.1
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
Due: none

feat: scoping
  README.md
  package.json
  packages/pigly-example/example-mock.ts
  packages/pigly-example/example.ts
  packages/pigly-example/package.json
  packages/pigly-example/tsconfig.json
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/gen-package.mjs
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/src/transformer.ts
  packages/pigly-transformer/test/kernel.spec.ts
  packages/pigly-transformer/test/named.spec.ts
  packages/pigly-transformer/tsconfig.build.cjs.json
  packages/pigly-transformer/tsconfig.build.esm.json
  packages/pigly/gen-package.mjs
  packages/pigly/package.json
  packages/pigly/src/_binding.ts
  packages/pigly/src/_context.ts
  packages/pigly/src/_kernel.ts
  packages/pigly/src/_provider.ts
  packages/pigly/src/_read-only-kernel.ts
  packages/pigly/src/_request.ts
  packages/pigly/src/_resolver-root.ts
  packages/pigly/src/_scope.ts
  packages/pigly/src/_service.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/predicates/has-ancestor.ts
  packages/pigly/src/predicates/injected-into.ts
  packages/pigly/src/providers/as-singleton.ts
  packages/pigly/src/providers/defer.ts
  packages/pigly/src/providers/scoped.ts
  packages/pigly/test/kernel.spec.ts
  packages/pigly/test/scoping.spec.ts
  packages/pigly/tsconfig.build.esm.json
  yarn.lock
Due: pigly, transformer

v2.0.0-alpha.0
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

fix: build output esm
  packages/pigly/tsconfig.build.cjs.json
  packages/pigly/tsconfig.build.esm.json
Due: none

v2.0.0-alpha.1
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

fix: remove unused code
  packages/pigly/src/_kernel.ts
  packages/pigly/src/index.ts
  packages/pigly/src/providers/as-singleton.ts
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/scoped.ts
  packages/pigly/test/kernel.spec.ts
  packages/pigly/test/scoping.spec.ts
Due: pigly

v2.0.0-alpha.2
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

fix: ts 5.2 build
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/transformer.ts
  packages/pigly-transformer/test/kernel.spec.ts
  packages/pigly-transformer/test/scoping.spec.ts
  packages/pigly-transformer/tsconfig.build.esm.json
  packages/pigly/package.json
  packages/pigly/src/kernel.ts
  packages/pigly/test/kernel.spec.ts
  packages/pigly/tsconfig.build.cjs.json
  packages/pigly/tsconfig.build.esm.json
  yarn.lock
Due: pigly, transformer
