Repository pigly-di/pigly: changes, and which Codecov flags are due for each by the changed paths.
All: pigly, transformer

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 0.10%
      pigly:
        flags: pigly
      transformer:
        flags: transformer
    patch: off
flags:
  pigly:
    paths:
      - packages/pigly/src
  transformer:
    paths:
      - packages/pigly-transformer/src

test: flesh out transformer testing
  packages/pigly-transformer/_foo.ts
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/test/_foo.ts
  packages/pigly-transformer/test/kernel.spec.ts
  packages/pigly-transformer/tsconfig.json
Due: transformer

feat: lazy binding resolution
  packages/pigly-transformer/src/index.ts
  packages/pigly/src/_resolver-root.ts
  packages/pigly/src/_service.ts
  packages/pigly/src/index.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/providers/to-all.ts
  packages/pigly/src/providers/to.ts
  packages/pigly/src/utils.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly, transformer

test: cover no resolution case
  packages/pigly/test/kernel.spec.ts
Due: none

v0.6.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

feat: named binding
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/test/named.spec.ts
  packages/pigly/src/_context.ts
  packages/pigly/src/_resolver-root.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/predicates/index.ts
  packages/pigly/src/predicates/named.ts
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/when-all.ts
  tsconfig.json
Due: pigly, transformer

refactor: request resolution
  packages/pigly-transformer/src/index.ts
  packages/pigly/src/_request.ts
  packages/pigly/src/_resolution.ts
  packages/pigly/src/_resolver-root.ts
  packages/pigly/src/index.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/providers/to-all.ts
  packages/pigly/src/providers/to.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly, transformer

example: mocking
  packages/pigly-example/example-mock.ts
  packages/pigly-example/package.json
  yarn.lock
Due: none

Update README.md
  README.md
Due: none

example: add mocking example
  packages/pigly-example/example-mock.ts
  packages/pigly-example/package.json
  packages/pigly-example/tsconfig.json
  yarn.lock
Due: none

fix: vue example
  packages/pigly-vue-example/src/main.ts
  packages/pigly-vue-example/src/service/foo.ts
  packages/pigly-vue-example/vue.config.js
  packages/pigly/src/utils.ts
Due: pigly

fix: warn if transpileOnly used
  packages/pigly-transformer/src/index.ts
Due: transformer

fix: unused import
  packages/pigly/src/providers/to.ts
Due: pigly

feat(providers): add types of unlimited amount of providers
  packages/pigly/src/_newable.ts
  packages/pigly/src/_provider.ts
  packages/pigly/src/providers/to-class.ts
  packages/pigly/src/providers/to-self.ts
Due: pigly

fix: make ProviderWrap values optional
  packages/pigly/src/_provider.ts
Due: pigly

fix(README): fix an issue with a code example missing a quote.
  packages/pigly/README.md
Due: none

fix(README): fix an issue with a code example missing a quote. (#23)
  packages/pigly/README.md
Due: none

fix(typing): toSelf and toClass
  packages/pigly/src/_constructor.ts
  packages/pigly/src/_newable.ts
  packages/pigly/src/_provider.ts
  packages/pigly/src/index.ts
  packages/pigly/src/providers/to-class.ts
  packages/pigly/src/providers/to-self.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly

doc: fix typos
  README.md
  packages/pigly/README.md
Due: none

v0.7.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

test[failing]: generic interfaces
  packages/pigly-transformer/test/kernel.spec.ts
  packages/pigly-transformer/test/symbol-for.spec.ts
Due: none

fix: SymbolFor generics and formatting
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/test/kernel.spec.ts
  packages/pigly-transformer/test/symbol-for.spec.ts
Due: transformer

v0.8.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

chore(docs): update vue workaround
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/README.md
  packages/pigly-vue-example/src/main.ts
  packages/pigly-vue-example/transformers.js
  packages/pigly-vue-example/vue.config.js
  packages/pigly/package.json
Due: none

chore(deps): disable hoisting in vue example
  package.json
  packages/pigly-vue-example/package.json
  yarn.lock
Due: none

Fix broken link in readme
  README.md
Due: none

Fix broken link in readme (#51)
  README.md
Due: none

fix(typescript): transformer crash due to null
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: transformer

v0.8.1
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

fix: defer in browser
  packages/pigly/src/providers/defer.ts
Due: pigly

v0.8.2
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

feat: add fallback for no bindings
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/maybe.ts
Due: pigly

feat: use providers for defered injection
  packages/pigly/src/providers/defer.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly

v0.9.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

fix: false cyclic-loop error when defer inject
  packages/pigly/src/providers/defer.ts
Due: pigly

v0.9.1
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none

fix: support typescript 3.9
  packages/pigly-example/package.json
  packages/pigly-transformer/.vscode/launch.json
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
  yarn.lock
Due: transformer

v0.10.0
  lerna.json
  packages/pigly-example/package.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: none
