Repository pigly-di/pigly: changes, and which Codecov flags are due for each by the changed paths.
All: pigly, transformer

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 0.10%
      pigly:
        flags: pigly
      transformer:
        flags: transformer
    patch: off
flags:
  pigly:
    paths:
      - packages/pigly/src
  transformer:
    paths:
      - packages/pigly-transformer/src

v2.0.0-alpha.3
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

fix: again typescript esm issue
  packages/pigly-transformer/tsconfig.build.esm.json
  packages/pigly/tsconfig.build.esm.json
Due: none

v2.0.0-alpha.4
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

chore: remove esm build
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/tsconfig.build.cjs.json
  packages/pigly/package.json
  packages/pigly/tsconfig.build.cjs.json
Due: transformer

v2.0.0-alpha.5
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

feat: restore basic field naming
  packages/pigly/src/_context.ts
  packages/pigly/src/predicates/named.ts
  packages/pigly/src/providers/defer.ts
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/name.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly

v2.0.0-alpha.6
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

chore: update ignore files
  .gitignore
Due: none

v2.0.0-alpha.7
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

refactor: resolve error as custom error
  packages/pigly/src/errors.ts
  packages/pigly/src/index.ts
  packages/pigly/src/kernel.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly

refactor: rework target naming
  packages/pigly/src/_context.ts
  packages/pigly/src/_request.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/providers/defer.ts
  packages/pigly/src/providers/name.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly

v2.0.0-alpha.8
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

chore: revert to cjs export
  packages/pigly-transformer/gen-package.mjs
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/tsconfig.build.cjs.json
  packages/pigly-transformer/tsconfig.build.esm.json
Due: transformer

v2.0.0-alpha.9
  lerna.json
  packages/pigly-transformer/package.json
Due: none

publish 2.0.0-alpha.9
  packages/pigly-transformer/package.json
Due: none

fix: cjs export
  packages/pigly-transformer/src/index.ts
Due: transformer

stash
  packages/pigly/src/kernel.ts
  packages/pigly/src/standard-kernel.ts
  packages/pigly/test/error-messages.spec.ts
  packages/pigly/test/standard-kernel.spec.ts
Due: pigly

stash
  FLUENT_API_ADDITIONS.md
  MIGRATING.md
  README.md
  packages/pigly-transformer/README.md
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/transformer.ts
  packages/pigly-transformer/test/standard-kernel.spec.ts
  packages/pigly-transformer/test/to-self.spec.ts
  packages/pigly/src/_fluent-binding.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/providers/to.ts
  packages/pigly/src/standard-kernel.ts
  packages/pigly/test/kernel.spec.ts
  packages/pigly/test/standard-kernel.spec.ts
Due: pigly, transformer

stash
  packages/pigly-transformer/example.ts
  packages/pigly/src/_fluent-binding.ts
  packages/pigly/src/standard-kernel.ts
Due: pigly

fix: defer non-determinism
  .yarnrc
  lerna.json
  package-lock.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
  packages/pigly/src/providers/defer.ts
  packages/pigly/test/triarge.spec.ts
  yarn.lock
Due: pigly

fix: resolve to last bound
  packages/pigly-transformer/test/to-self.spec.ts
  packages/pigly/README.md
  packages/pigly/src/kernel.ts
  packages/pigly/test/kernel.spec.ts
Due: pigly

v2.0.0
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

fix: typescript 5.9 issue fix: defer to execute before kernel get returns
  package-lock.json
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/transformer.ts
  packages/pigly-transformer/test/kernel.spec.ts
  packages/pigly-transformer/test/to-self.spec.ts
  packages/pigly/package.json
  packages/pigly/src/_context.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/providers/defer.ts
  packages/pigly/test/defer.spec.ts
  packages/pigly/test/kernel.spec.ts
  packages/pigly/test/scoping.spec.ts
  packages/pigly/test/triarge.spec.ts
Due: pigly, transformer

v2.1.0
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: none

stash
  packages/pigly-transformer/test/standard-kernel.spec.ts
Due: none
