Repository pigly-di/pigly: changes, and which Codecov flags are due for each by the changed paths.
All: core, viewer

codecov.yml:

coverage:
  status:
    project:
      default:
        threshold: 0.10%
      core:
        flags: core
      viewer:
        flags: viewer
    patch: off
flags:
  core:
    paths:
      - packages/pigly
  viewer:
    paths:
      - packages/pigly-transformer

chore: setup coverage
  .circleci/config.yml
  package.json
  packages/pigly-transformer/package.json
  packages/pigly/package.json
  yarn.lock
Due: core, viewer

fix: codecov flags
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: core, viewer

fix: remove cover from transformer
  packages/pigly-transformer/package.json
Due: core, viewer

wip: vue example
  packages/pigly-vue-example/.gitignore
  packages/pigly-vue-example/README.md
  packages/pigly-vue-example/package.json
  packages/pigly-vue-example/public/favicon.ico
  packages/pigly-vue-example/public/index.html
  packages/pigly-vue-example/src/App.vue
  packages/pigly-vue-example/src/assets/logo.png
  packages/pigly-vue-example/src/components/HelloWorld.vue
  packages/pigly-vue-example/src/main.ts
  packages/pigly-vue-example/src/shims-tsx.d.ts
  packages/pigly-vue-example/src/shims-vue.d.ts
  packages/pigly-vue-example/tsconfig.json
  packages/pigly-vue-example/vue.config.js
  packages/pigly-vue-example/yarn.lock
  yarn.lock
Due: core

fix: webpack transforming wip: toClass inference.
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/package.json
  packages/pigly-vue-example/src/main.ts
  packages/pigly-vue-example/vue.config.js
  packages/pigly/src/kernel.ts
Due: core, viewer

fix: remove toClass transform
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/src/index.ts
  packages/pigly/src/kernel.ts
Due: core, viewer

v0.3.0
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

refactor: change to simple symbol.
  README.md
  packages/pigly-transformer/_foo.ts
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/src/App.vue
  packages/pigly-vue-example/src/components/HelloWorld.vue
  packages/pigly-vue-example/src/decorators/inject.ts
  packages/pigly-vue-example/src/main.ts
  packages/pigly-vue-example/src/service/_foo.ts
  packages/pigly-vue-example/tsconfig.json
  packages/pigly/README.md
  yarn.lock
Due: core, viewer

v0.4.0
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

chore: remove unused dep
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-vue-example/src/App.vue
  packages/pigly/package.json
Due: core, viewer

fix: package.json module path
  packages/pigly/package.json
Due: core

v0.4.1
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

fix: convert type with args
  packages/pigly-transformer/_foo.ts
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly/package.json
Due: core, viewer

v0.4.2
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

add: getAll
  packages/pigly/src/kernel.ts
  packages/pigly/test/kernel.spec.ts
Due: core

v0.4.3
  lerna.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core

fix: get and getAll typing
  packages/pigly/package.json
  packages/pigly/src/kernel.ts
Due: core

v0.4.4
  lerna.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core

add: error message on no bindings
  packages/pigly/package.json
  packages/pigly/src/kernel.ts
Due: core

v0.4.5
  lerna.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core

chore: breakup code and fix toClass
  packages/pigly/src/_binding.ts
  packages/pigly/src/_context.ts
  packages/pigly/src/_provider.ts
  packages/pigly/src/_read-only-kernel.ts
  packages/pigly/src/_resolver-root.ts
  packages/pigly/src/index.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/to-class.ts
  packages/pigly/test/kernel.spec.ts
Due: core

v0.4.6
  lerna.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core

feat: poc for injectInto
  packages/pigly-transformer/_foo.ts
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/src/index.ts
  packages/pigly/package.json
  packages/pigly/src/index.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/predicates/index.ts
  packages/pigly/src/predicates/injected-into.ts
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/when.ts
  yarn.lock
Due: core, viewer

fix: injectedInto type guard
  packages/pigly/src/predicates/injected-into.ts
Due: core

feat: add basic class inference
  packages/pigly-transformer/_foo.ts
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/src/index.ts
  packages/pigly/src/providers/to-class.ts
Due: core, viewer

wip: non-interface ctor args
  packages/pigly-transformer/_foo.ts
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/src/index.ts
Due: core, viewer

v0.5.0
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

feat: better design for ctor binding
  README.md
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly/README.md
  packages/pigly/package.json
  packages/pigly/src/_newable.ts
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/to-class.ts
  packages/pigly/src/providers/to-self.ts
Due: core, viewer

v0.5.1
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

fix: support array of type dep
  packages/pigly-transformer/_foo.ts
  packages/pigly-transformer/example.ts
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly/README.md
  packages/pigly/package.json
Due: core, viewer

v0.5.2
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

doc: update readme
  README.md
  packages/pigly-transformer/package.json
  packages/pigly/package.json
Due: core, viewer

refactor: vue reactive injection
  packages/pigly-vue-example/src/App.vue
  packages/pigly-vue-example/src/decorators/inject.ts
  packages/pigly-vue-example/src/main.ts
Due: core

feat: hasAncestor predicate
  packages/pigly/src/predicates/has-ancestor.ts
  packages/pigly/src/predicates/index.ts
  packages/pigly/src/predicates/injected-into.ts
  packages/pigly/test/kernel.spec.ts
Due: core

fix: coverage config
  codecov.yml
Due: none

chore: hasAncestor docs
  README.md
  packages/pigly/README.md
Due: core

chore: add transform unit testing
  packages/pigly-transformer/package.json
  packages/pigly-transformer/src/index.ts
  packages/pigly-transformer/test/has-ancestor.spec.ts
  packages/pigly-transformer/test/injected-into.spec.ts
  packages/pigly-transformer/test/to-self.spec.ts
  packages/pigly/test/kernel.spec.ts
  yarn.lock
Due: core, viewer

v0.5.3
  lerna.json
  packages/pigly-transformer/package.json
  packages/pigly-vue-example/package.json
  packages/pigly/package.json
Due: core, viewer

chore: add article example
  packages/pigly-example/example.ts
  packages/pigly-example/package.json
  packages/pigly-example/tsconfig.json
  packages/pigly-transformer/package.json
  packages/pigly-transformer/tsconfig.json
  yarn.lock
Due: core, viewer

refactor: separate type files
  packages/pigly/src/_context.ts
  packages/pigly/src/_kernel.ts
  packages/pigly/src/_read-only-kernel.ts
  packages/pigly/src/_resolver-root.ts
  packages/pigly/src/_service.ts
  packages/pigly/src/declarations.ts
  packages/pigly/src/index.ts
  packages/pigly/src/kernel.ts
  packages/pigly/src/providers/as-singleton.ts
  packages/pigly/src/providers/defer.ts
  packages/pigly/src/providers/index.ts
  packages/pigly/src/providers/to-all.ts
  packages/pigly/src/providers/to-const.ts
  packages/pigly/src/providers/to.ts
Due: core
